<div class="book-detail-container">
  <div class="book-card">
  
    <h1 class="book-title" appHighlight>{{ book?.title }}</h1> 
    
    <div class="book-info">
      <p class="author">{{ book.author }}</p>
      <p class="description">{{ book.description }}</p>
      
      <div class="info-grid">
        <div class="info-item">
          <strong>Catégorie</strong>
          {{ book.category }}
        </div>
        <div class="info-item">
          <strong>Note</strong>
          {{ book.rating }}/5
        </div>
        <div class="info-item">
          <strong>Statut</strong>
          {{ book.isFavorite ? 'Dans les favoris' : 'Non favoris' }}
        </div>
      </div>
    </div>

    <div class="button-container">
      <button class="back-button" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Retour
      </button>
    </div>
  </div>
</div>
    

          
        
      
    